.container{
  min-width: 99.15vw;
  position: relative;
  left: -0.15rem;
  background-color:#152A47;
  text-align: center;

  p{
    color: white;
    font-family: "Poppins";
    font-size: small;
  }
}
