<div class="container fixed-top navbar-shrink">
  <a class="navbar-brand js-scroll-trigger" href="/#page-top">MD</a>
  <div id="navbarResponsible" class="collapse navbar-collapse">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item ng-star-inserted"><a href="/#home" class="nav-link js-scroll-trigger">Home</a></li>
      <li class="nav-item ng-star-inserted"><a href="/#aboutMe" class="nav-link js-scroll-trigger">O mnie</a></li>
      <li class="nav-item ng-star-inserted"><a href="/#portfolio" class="nav-link js-scroll-trigger">Portfolio</a></li>
      <li class="nav-item ng-star-inserted"><a href="/#myClients" class="nav-link js-scroll-trigger">Moi klienci</a></li>
      <li class="nav-item ng-star-inserted"><a href="/#contact" class="nav-link js-scroll-trigger">Kontakt</a></li>
      <li class="nav-item ng-star-inserted"><a href="#" class="nav-link js-scroll-trigger">C</a></li>
      <li class="nav-item ng-star-inserted"><a href="#" class="nav-link js-scroll-trigger">EN</a></li>
    </ul>
  </div>
</div>
