<div class="container">
  <img alt="My picture" class="img-fluid rounded-circle" src="..\..\..\assets\images\account.png">
  <div class="about-me">
    <p class="quick-description">
      Nazywam się Dominik. <br> Ukończyłem studia inżynierskie na kierunku Informatyka z specjalnością Inżynieria Systemów Informatycznych.<br>
      Teraz w pełni chcę się skupić na zdobywaniu umiejętności oraz doświadczenia w kierunku Frontend Developera.<br>
      Po więcej informacji kliknij poniższy przycisk, a tam dowiesz się więcej kluczowych informacji.
    </p>
  </div>
  <div class="show-more">
    <a class="btn btn-large">Więcej informacji</a>
  </div>
</div>
