<div class="containter">
  <p class="title text-center">Moje projekty</p>
  <div class="my-projects row">
    <div class="hotel col-4">
      <img src="..\..\..\assets\images\hotel.png" class="img-fluid rounded-circle" alt="Hotel logo">
      <p class="name-project">System <br> Zarządzania <br> Hotelem</p>
    </div>
    <div class="latex col-4">
      <img src="..\..\..\assets\images\latex.png" class="img-fluid rounded-circle" alt="LaTeX logo">
      <p class="name-project">LaTeX</p>
    </div>
    <div class="website col-4">
      <img src="..\..\..\assets\images\website.jpg" class="img-fluid rounded-circle" alt="Website logo">
      <p class="name-project">Strona <br> internetowa</p>
    </div>
  </div>
</div>
